// 首頁備註
@import 'mixin.scss';
#index-banner-detail {
  padding:15px;
  text-align: center;
  h1{
    font-size:3.5rem;
    font-weight: bold;
    transition: all 0.5s ease;
  }
  @media screen and (max-width:1300px) {
    text-align: right;
    h1{
      font-size:2rem;
    }
  }
  @media screen and (max-width:640px){
    text-align:left;
    h1 {
      font-size:1.8rem;
    }
    h4 {
      font-size:1.4rem;
    }
  }
}

//banner廣告區塊
.banner{
position: fixed;
overflow: hidden;
right: -60px;
@media screen and (max-width:1300px) {
  width:50%;
  right:0;
}
  @include device_max-768 {
    position: relative;
    width:100%;
    margin-top:50px;
    right:0px;
    #index-banner{
      width:50%;
      position:absolute;
      right:-30px;
      img{width:100%;}
    }
    #index-banner-detail{
      width:100%;
      // float: left;
      position:relative;
      z-index: 20;
      text-shadow: 0 0 2px rgba(#000,.5);
    }
  }
}
//profile作品集區塊
.profile-article{
  position: relative;
  text-align:left;
  padding:0 10px;
  z-index: 20;
  li{
    width:48%;
    height:auto;
    display: inline-block;
    margin:1%;
    position: relative;
    vertical-align: top;
    &:nth-child(2n) {
      top:10vw;
      vertical-align: top;
    }
    @media screen and (max-width:640px) {
      width:100%;
      &:nth-child(2n) {
       top:0;
      }
    }
    a{
      position: relative;
      display: block;
      border-radius: 5px;
      box-shadow: 0 1px 5px rgba(#000,.5);
      overflow: hidden;
      line-height:0;
      // padding-bottom:66%;
      padding-bottom:65%;
      @include size(100%,auto);
    }
    .title{
      padding:10px;
      background:rgba(#000,.5);
      color:#fff;
      position: absolute;
      left:10px;
      top:10px;
      border-radius: 5px;
      z-index: 10;
    }
    img{
      display:block;
      position: absolute;
      margin:auto;
      top:0;
      bottom:0;
      right:0;
      left:0;
      @include size(100%,100%);
    }
  }
}